.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column {
  margin-left: 25px;
  flex-grow: 1;
  background: lightblue;
}
.column:last-of-type {
  margin-right: 25px;
}

#Winnie {
  background: #8e6e95;
}

#Bob {
  background: #39a59c;
}

#Thomas {
  background: #344759;
}

#George {
  background: #e8741e;
}